@use '../variables/colors' as *;

.budget {
  position: relative;
  max-width: 90vw;
}

.balance {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: rgba($color: $second, $alpha: 0.7);
}

.balance__value {
  font-size: 2.8rem;
  font-weight: 400;
  color: $second;
}

.movements {
  min-height: 8rem;
  max-height: 30vh;
  border-radius: 1rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 1rem;
  overflow-y: auto;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: $third;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba($color: $second, $alpha: 0.5);
}

.movements__type--GROSS {
  background-image: linear-gradient(to top left, #e43666, #da9aac);
}

.movements__type--ADD_BUDGET {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__value {
  font-size: 1.5rem;
  margin-left: auto;
}

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 1.5rem;
  margin-right: 2.5rem;
}

.summary__value--in {
  color: #66c873;
}

.summary__value--interest {
  color: $fifth;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: -0.8rem;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0 0rem 1rem 1rem;
  background-color: rgba($color: $second, $alpha: 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.operations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.operation {
  border-radius: 1rem;
  padding: 1rem;
  max-width: 25rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.operation--transfer {
  background-color: $eighth;
}

.operation--loan {
  background-color: $seventh;
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}
