@use '../variables/colors' as *;

.calendar {
  margin: 0 1rem;

  &__header {
    display: flex;
    justify-content: center;
    margin-left: 6rem;
    width: 100%;
    font-size: 1.2rem;

    i {
      cursor: pointer;
      padding: 0.5rem;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .week-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .general-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6rem;
      margin-right: 1rem;
      margin-left: auto;
      padding: 0.2rem 1rem;

      border-left: 1px solid $third;
    }
  }

  &__window {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba($color: $first, $alpha: 0.2);
    transition: opacity 0.2s ease-in;
  }

  &__days-time {
    width: 100%;
    max-width: 10rem;
    min-width: 10rem;
    text-align: center;
  }

  &__days-container {
    display: flex;
    width: 100%;
    overflow: auto;
  }

  &__day {
    width: 100%;
    min-width: 10rem;
    text-align: center;
    border-right: 1px solid rgba($color: $first, $alpha: 0.2);

    .calendar__column-header {
      color: $third;
      background-color: $second;
      overflow: hidden;
    }
  }

  &__column-header {
    height: 3rem;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1rem;
    overflow: hidden;
  }

  &__slots {
    position: relative;
  }

  &__slot,
  &__time {
    border-top: 1px solid rgba($color: $first, $alpha: 0.2);
    height: 2rem;
  }

  &__slot {
    cursor: pointer;
    &:hover {
      background-color: rgba($color: $first, $alpha: 0.2);
    }
  }

  &__time {
    color: rgba($color: $first, $alpha: 0.6);
    padding: 0.2rem;
    font-size: 1.2rem;
    border-left: 1px solid rgba($color: $first, $alpha: 0.2);
    border-right: 1px solid rgba($color: $first, $alpha: 0.2);
  }
}
.dayDisplay {
  font-size: 1rem;
  padding-top: 0.3rem;
}

.currentDay {
  .calendar__column-header {
    background-color: $fourth;
    color: $third;
  }
}

.currentTime {
  background-color: rgba($color: $first, $alpha: 0.2);
}

.opaque {
  opacity: 0.4;
}
