@use '../variables/colors' as *;

.lower-beam {
  &__controls {
    display: flex;
    justify-content: center;
    margin-left: 8rem;
    margin-right: 1.5rem;
    width: 100%;
    font-size: 1.2rem;

    i {
      cursor: pointer;
      padding: 0.5rem;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .weekControls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .generalControls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    padding: 0.2rem 1rem;
    margin-left: 2rem;
    i {
      font-size: 1rem;
      padding: 0.6rem;
      border: 1px solid $third;
      margin: 0 0.5rem;
      border-radius: 50%;
    }
  }
}

.calendar {
  position: relative;
  margin: 0 1rem;

  &__window {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba($color: $first, $alpha: 0.2);
    transition: opacity 0.2s ease-in;
  }

  &__days-time {
    width: 100%;
    max-width: 10rem;
    min-width: 10rem;
    text-align: center;
  }

  &__days-container {
    display: flex;
    width: 100%;
    overflow: auto;
  }

  &__day {
    width: 100%;
    min-width: 10rem;
    text-align: center;
    border-right: 1px solid rgba($color: $first, $alpha: 0.2);

    .calendar__column-header {
      color: $third;
      background-color: $second;
      overflow: hidden;
    }
  }

  &__column-header {
    height: 3rem;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1rem;
    overflow: hidden;
  }

  &__slots {
    position: relative;
  }

  &__slot,
  &__time {
    border-top: 1px solid rgba($color: $first, $alpha: 0.2);
    height: 2.6vh;
  }

  &__slot {
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: rgba($color: $first, $alpha: 0.2);
    }
  }

  &__time {
    color: rgba($color: $first, $alpha: 0.6);
    padding: 0.2rem;
    font-size: 1.2rem;
    border-left: 1px solid rgba($color: $first, $alpha: 0.2);
    border-right: 1px solid rgba($color: $first, $alpha: 0.2);
  }

  .dayDisplay {
    font-size: 1rem;
    padding-top: 0.3rem;
  }

  .currentDay {
    background-color: rgba($color: $fourth, $alpha: 0.05);
    .calendar__column-header {
      background-color: $fourth;
      color: $third;
    }
  }

  .currentTime {
    background-color: rgba($color: $first, $alpha: 0.2);
  }

  .opaque {
    opacity: 0.4;
  }

  &__event {
    margin-top: 2px;
    margin-bottom: 1px;
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 1px;
    width: calc(100% - 2px);
    padding: 2px 5px;
    font-size: 1.2rem;
    color: white;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
  }

  &__shortEvent {
    padding: 0px 5px;
    font-size: 1.2rem;
  }

  &__veryShortEvent {
    margin: -1px;
    padding: 0px 5px;
    font-size: 1rem;
  }
}

.event-modal {
  display: none;
  position: absolute;
  top: 33rem;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 45rem;
  min-width: 27rem;
  padding: 2rem;
  margin-left: 2rem;
  margin-top: 4rem;
  background-color: $third;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 1.5rem;
  z-index: 1;

  &__errors {
    padding-top: 1rem;
    color: $fourth;
    font-size: 1.2rem;
    text-align: center;
  }

  &__header {
    margin-bottom: 1rem;
  }

  &__descriptor {
    display: inline-block;
    margin: 2rem 1rem 0.5rem 0;
    font-weight: bold;
  }

  &__shortInput {
    padding: 0.2rem 0.1rem;
    border-bottom: 1px solid rgba($color: $first, $alpha: 0.4);

    &:focus {
      color: $second;
      outline: none;
      border: none;
      border-bottom: 1px solid $second;
    }
  }

  &__title {
    width: 95%;
  }

  &__start {
    margin-right: 1rem;
  }

  &__end {
    margin-left: 1rem;
  }

  &__description {
    width: 95%;

    min-height: 6rem;
    max-height: 15rem;
    resize: vertical;
    padding: 0.5rem;
    border: 1px solid rgba($color: $first, $alpha: 0.4);

    &:focus {
      color: $second;
      outline: none;
      border: none;
      border: 1px solid $second;
    }
  }

  &__controls {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__button {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    background-color: $second;
    color: $third;
    border-radius: 2rem;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &--delete {
      background-color: $nineth;
      color: $third;
    }
  }

  &__colors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    max-width: 15rem;
    margin-bottom: 1rem;
  }

  &__color {
    box-sizing: content-box;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid $third;
    cursor: pointer;
    transition: border 0.3s;

    &--red {
      background-color: $nineth;
    }

    &--blue {
      background-color: $fifth;
    }

    &--green {
      background-color: $seventh;
    }

    &--orange {
      background-color: $eighth;
    }

    &--purple {
      background-color: $sixth;
    }

    &:focus,
    &:hover {
      border: 3px solid rgba($color: $first, $alpha: 0.6);
    }
  }

  .active {
    border: 2px solid rgba($color: $first, $alpha: 0.6);
  }
}
