@use '../variables/colors' as *;

.lower-beam {
  &__controls {
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 1.5rem;
    width: 100%;
    font-size: 1.2rem;

    i {
      cursor: pointer;
      padding: 0.5rem;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__weekControls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__generalControls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    padding: 0.2rem 1rem;
    margin-left: 2rem;
    i {
      font-size: 1rem;
      padding: 0.6rem;
      border: 1px solid $third;
      margin: 0 0.5rem;
      border-radius: 50%;
    }
  }
}

.calendar {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba($color: $first, $alpha: 0.2);
  transition: opacity 0.2s ease-in;
}

.opaque {
  opacity: 0.4;
}

/* columns */

.dayTime {
  width: 100%;
  min-width: 100px;
  max-width: 100px;
  text-align: center;
  .columnHeader {
    height: 3rem;
  }
}

.days {
  display: flex;
  width: 100%;
  overflow: auto;
}

.day {
  width: 100%;
  min-width: 10rem;
  text-align: center;
  border-right: 1px solid rgba($color: $first, $alpha: 0.2);
  .columnHeader {
    color: $third;
    background-color: $second;
    overflow: hidden;
  }
}

.currentDay {
  background-color: $fourth;
  color: $third;
  .columnHeader {
    background-color: yellow;
  }
}

.dayDisplay {
  font-size: 15px;
  color: tomato;
}

/* slots */

.slots {
  position: relative;
}

.slot,
.time {
  border-top: 1px solid pink;
  height: 2rem;
}

.time {
  font-size: 14px;
}

.slot:hover {
  cursor: pointer;
  background-color: orange;
}

.time.currentTime {
  background-color: orangered;
  color: greenyellow;
}

/* events */

.event {
  position: absolute;
  left: 1px;
  width: calc(100% - 2px);
  border-radius: 4px;
  padding: 2px 5px;
  color: white;
  overflow: hidden;
  cursor: pointer;
}

.shortEvent {
  padding: 0px 5px;
  font-size: 12px;
}

.veryShortEvent {
  margin-top: -1px;
  padding: 0px 5px;
  font-size: 10px;
}

/* event modal */

#eventModal {
  display: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px red;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;
  padding: 20px;
  width: 450px;
  min-width: 250px;
}

#errors {
  color: red;
}

#modalTitle {
  margin-bottom: 20px;
}

#eventModal label {
  font-weight: bold;
  display: inline-block;
  margin: 20px 10px 5px 0px;
}

.shortInput {
  border-bottom: 1px solid blueviolet;
  padding: 2px 1px;
}

.shortInput:focus {
  border-bottom: 1px solid greenyellow;
}

#eventTitle {
  width: 95% !important;
}

#eventStart {
  margin-right: 10px;
}

#eventEnd {
  margin-left: 10px;
}

#eventDescription {
  border: 1px solid blueviolet;
  width: 95% !important;
  height: 170px;
  min-height: 40px;
  resize: vertical;
  padding: 4px;
}

#eventDescription:focus {
  border: 1px solid goldenrod;
}

#eventControls {
  margin: 25px 0px 10px 0px;
}

.button {
  padding: 10px 20px;
  background-color: royalblue;
  color: rgb(175, 114, 114);
  cursor: pointer;
  margin-right: 12px;
  border-radius: 2px;
}

#deleteButton {
  background-color: var(--color-red);
}

.button:hover,
.button:focus {
  opacity: 0.8;
}

/* colors in event modal */

#colors {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.color {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  border: 5px solid white;
  box-sizing: content-box;
  cursor: pointer;
}

.color.active,
.color:focus,
.color:hover {
  border: 5px solid var(--grid-color);
}

.color-red {
  background-color: red;
}

.color-blue {
  background-color: blue;
}

.color-green {
  background-color: green;
}

.color-orange {
  background-color: orange;
}
