@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.comunicator {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .talks {
    position: relative;
    bottom: -3.5rem;
    right: -3.5rem;
    width: 17rem;
    height: 17rem;
    background: linear-gradient(
      135deg,
      rgba(179, 179, 179, 0.9) 0%,
      rgba(51, 63, 80, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    border: 1px solid $second;
    border-radius: 50%;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.5s;

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.7rem;
      font-size: 1.7rem;
      transition: transform 0.3s;
    }

    &__mail,
    &__chat,
    &__phone,
    &__video {
      position: absolute;
      width: 3.2rem;
      height: 3.2rem;
      cursor: pointer;

      &:hover {
        i {
          transform: scale(1.1);
        }
      }
    }

    &__mail {
      right: 4.3rem;
      top: 0.7rem;
    }

    &__chat {
      right: 9.5rem;
      top: 0.9rem;
    }

    &__phone {
      right: 12.9rem;
      top: 4.5rem;
    }

    &__video {
      right: 12.7rem;
      top: 9.5rem;
    }
  }

  .talks-hidden {
    transform: scale(0);
  }

  .envelope {
    position: absolute;
    bottom: -0.5rem;
    left: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    background: linear-gradient(
      135deg,
      rgba(179, 179, 179, 1) 0%,
      rgba(51, 63, 80, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    border: 1px solid $first;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    &::before {
      content: '';
      position: absolute;
      height: 3.4rem;
      width: 3.4rem;
      bottom: 0;
      right: 0;
      border-top: 3.4rem solid transparent;
      border-left: 3.4rem solid transparent;
      border-bottom: 3.4rem solid #11171c;
    }

    &__inside {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6rem;
      width: 6rem;
      background-color: $fourth;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        .fa-envelope {
          transform: scale(1.1);
        }
      }
    }

    .fa-envelope {
      transition: transform 0.3s;
      font-size: 3.2rem;
    }
  }
}
