@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.files-window {
  margin-top: 1.5rem;
}

.folders {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
  gap: 3rem;
}

.folder {
  width: 14rem;
  height: 14rem;
  cursor: pointer;
  border: 1px solid $second;
  padding: 1rem;

  img {
    width: 10rem;
    height: 10rem;
    transition: transform 0.3s;
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
    h3 {
      color: rgba($color: $first, $alpha: 0.6);
    }
  }
}
