@use '../variables/colors' as *;

.head-main {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.main-container {
  padding: 11rem 1rem 1rem 6rem;
  color: $first;
  transition: transform 0.5s;
}

.main-transform {
  transform: translateY(-4.5rem);
  .window {
    max-height: calc(100vh - 13rem);
  }
}

.header {
  display: flex;
  justify-content: end;
}

.page-title {
  margin-right: -1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 5rem;
  background-image: linear-gradient(45deg, $third, $third, $second);
  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.window {
  max-height: calc(100vh - 17.5rem);
  overflow: auto;
  transition: max-height 0.5s;
}
