@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.headNav {
  position: absolute;
  z-index: 5;
}

.upper-beam,
.lower-beam {
  position: relative;
  height: 4.5rem;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

.upper-beam {
  width: 100vw;
  background-color: $first;
  z-index: 0;

  &__settings {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4rem;
    right: 0.7rem;
    width: 10rem;
    height: 4.3rem;
    background-color: $third;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(-5rem);
    transition: transform 0.5s;
    cursor: pointer;
    z-index: -1;

    i {
      font-size: 1.4rem;
      padding: 0.5rem;
      color: $first;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11.5rem;
  }

  &__search,
  &__admin {
    flex: 1;
    margin: 0.5rem;
    height: 3.5rem;
  }

  &__search {
    &-input {
      display: block;
      width: 100%;
      height: 3.5rem;
      border-radius: 1.7rem;
      border: none;
      background-image: url('../img/base/globalnav_search_image__grey.svg');
      background-position: 1.5rem 1.1rem;
      background-repeat: no-repeat;
      padding-left: 4rem;
      background-color: $second;
      font-family: $font;
      color: $third;
      font-size: 1.7rem;
      font-weight: 300;
    }

    &-input::placeholder {
      color: $third;
      opacity: 0.3;
    }
  }

  &__admin {
    max-width: 6rem;
    display: flex;
    justify-content: end;
    align-items: center;

    &-menu {
      font-size: 1.5rem;
      padding: 0.5rem;
      margin-right: 0.7rem;
      cursor: pointer;
      i {
        transition: transform 0.3s;
      }
      &:hover {
        i {
          transform: scale(1.1);
        }
      }
    }

    &-icons {
      padding: 0 1.5rem;
      font-size: 1.4rem;
      cursor: pointer;
      display: none;
      i {
        padding: 0 0.3rem;
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &-count {
      display: flex;
      align-items: center;
    }

    &-login {
      padding: 0.4rem 1rem 0.4rem 1.5rem;
      font-size: 1.4rem;
      border-left: 1px solid $third;
      display: none;
    }

    &-avatar {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
      background-image: url('../img/avatars/Aro.jpg');
      background-size: contain;
      background-position: center;
      border-radius: 50%;
      border: 1px solid $third;
      cursor: pointer;
    }
  }
}

.admin-menu-active {
  transform: translateY(0);
}

.lower-beam {
  width: 100vw;
  background-color: $second;
  transition: transform 0.5s;
  z-index: -5;
}

.beam-hidden {
  transform: translateY(-7rem);
}

.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 100vh;
  width: 4.5rem;
  background-color: $first;
  box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.75);

  &__menu {
    &-settings {
      position: absolute;
      bottom: 0.7rem;
      left: 4.5rem;
      height: auto;
      width: 14rem;
      background-color: $third;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.75);
      transform: translateX(-15rem);
      transition: transform 0.5s;
      z-index: -1;
    }
    &-list {
      padding: 1rem;
      color: $first;
      li {
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 0.5rem 1rem;
      }
      input[type='checkbox'] {
        vertical-align: -0.2rem;
        margin-right: 0.5rem;
      }
    }
  }

  .menu-settings-active {
    transform: translateX(0);
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    cursor: pointer;
    transition: transform 0.3s;
  }

  &__container {
    width: 4.5rem;
    padding-top: 11rem;
  }

  &__decizions {
    position: relative;

    i {
      font-size: 1.4rem;
    }

    .fa-thumbs-up {
      margin-top: 2rem;
      margin-left: -0.7rem;
    }

    .fa-check {
      top: -2rem;
      right: 0.5rem;
      position: absolute;
    }
  }

  &__icon {
    &:hover {
      i {
        transform: scale(1.1);
      }
    }
  }

  .hidden-nav-icon {
    display: none;
  }

  .active-nav-icon {
    color: $fifth;
    border-top: 1px dotted $fifth;
    border-bottom: 1px dotted $fifth;
  }
}

.logo {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  cursor: pointer;
  z-index: 5;

  &:hover {
    .logo__box {
      transform: scale(1.05);
    }
  }

  &__circle {
    position: relative;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: $first;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  }

  &__box {
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
    width: 8.5rem;
    height: 8.5rem;
    transition: transform 0.3s;
  }
}
