@use '../variables/colors' as *;

.notify-window {
  max-height: 75vh;
  overflow: auto;
}

.weather,
.meetings,
.tasks,
.approval {
  margin: 2rem 0;
  border: 1px solid $first;
  border-radius: 0.5rem;
  h3 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
}

.weather {
  position: relative;
  color: $first;
  max-width: 30rem;

  &__title {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  &__days {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    img {
      width: 3rem;
      height: 3rem;
    }

    &#weather__day-0 {
      img {
        width: 6rem;
        height: 6rem;
      }
    }
  }

  &__city {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0rem;
    right: 1rem;

    padding-bottom: 1rem;
  }
}
