@use '../variables/colors' as *;

.notify-window {
  max-height: 75vh;
  overflow: auto;
}

.weather,
.meetings,
.tasks,
.approval {
  margin: 2rem 0;
  border: 1px solid $first;
  border-radius: 0.5rem;
  background-color: #d4d3d3;
  h3 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
}

.weather {
  color: $first;

  &__days {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__day {
    img {
      width: 3rem;
      height: 3rem;
    }
  }

  &__city {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
