@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.notify-window {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  max-height: calc(100vh - 15.5rem);
  overflow: auto;
}

.weather,
.meetings,
.tasks,
.approvals,
.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 29rem;
  margin: 2rem 1rem;
  font-size: 1.2rem;
  color: $first;
  background: linear-gradient(
    340deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(81, 90, 101, 0.4) 40%,
    rgba(81, 90, 101, 0.6) 60%,
    rgba(51, 63, 80, 0.8) 80%,
    rgba(51, 63, 80, 1) 100%
  );
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;

  h3 {
    position: relative;
    width: 10rem;
    padding: 0.5rem 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    color: $third;
  }

  h4 {
    width: 100%;
    text-align: center;
    padding-top: 0.7rem;
  }

  &__container {
    padding: 1rem;
  }
}

.weather {
  position: relative;

  &__title {
    display: flex;
    justify-content: space-between;
    h3 {
      background-color: $sixth;
    }
    margin-bottom: 1rem;
  }

  &__days {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 35rem;
    padding: 0.9rem;
    img {
      width: 3rem;
      height: 3rem;
      margin: 1rem 0;
    }

    &#weather__day-0 {
      font-size: 1.4rem;
      img {
        width: 6rem;
        height: 6rem;
      }
      p {
        background-color: #fff;
        padding: 0.2rem 1rem;
        border-radius: 1.5rem;
      }

      .weather__day-temperature {
        padding-top: 0.5rem;
        padding-bottom: 1.1rem;
      }
    }
  }

  &__city {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 1rem;
    bottom: 0rem;
    padding-bottom: 1.6rem;

    input {
      width: 13rem;
      background-color: inherit;
      border: none;
      border-bottom: 0.1rem solid $first;
    }

    ::placeholder {
      padding-left: 0.7rem;
      font-family: $font;
      color: $third;
      color: $first;
    }

    button {
      margin-left: 0.5rem;
      padding: 0.5rem 1.2rem;
      background-color: $first;
      font-size: 1.2rem;
      color: $third;
      border: inherit;
      border-radius: 1.5rem;
    }
  }
}

.meetings {
  h3 {
    background-color: $fifth;
  }
}
.tasks {
  h3 {
    background-color: $seventh;
  }
}
.approvals {
  h3 {
    background-color: $ninth;
  }
}
.messages {
  h3 {
    background-color: $eighth;
  }
}
