@use '../variables/colors' as *;

.schedule {
  margin: 0 1rem;
  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    i {
      cursor: pointer;
      padding: 1rem;
      transition: color 0.5s;

      &:hover {
        color: red;
      }
    }
  }
}

.week-controls,
.general-controls {
  font-size: 1.4rem;
}

.week-controls {
  left: 10.5rem;
}

.general-controls {
  right: 1rem;
  i {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    padding: 0.75rem;
    border: 1px solid $first;
    border-radius: 50%;
  }
}

.calendar {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba($color: $first, $alpha: 0.2);
  transition: opacity 0.2s ease-in;
  // border-right: 1px solid rgba($color: $first, $alpha: 0.2);

  &__days-time {
    width: 100%;
    max-width: 10rem;
    min-width: 10rem;
    text-align: center;
    color: $second;
  }

  &__days-container {
    display: flex;
    width: 100%;
    overflow: auto;
  }

  &__day {
    width: 100%;
    min-width: 10rem;
    text-align: center;
    border-right: 1px solid rgba($color: $first, $alpha: 0.2);

    .calendar__column-header {
      color: $third;
      background-color: $second;
      overflow: hidden;
    }
  }

  &__column-header {
    height: 3rem;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1rem;
    overflow: hidden;
  }

  &__slots {
    position: relative;
  }

  &__slot,
  &__time {
    border-top: 1px solid rgba($color: $first, $alpha: 0.2);
    height: 2rem;
  }

  &__slot {
    cursor: pointer;
    &:hover {
      background-color: rgba($color: $first, $alpha: 0.2);
    }
  }

  &__time {
    color: rgba($color: $first, $alpha: 0.6);
    padding: 0.2rem;
    font-size: 1.2rem;
    border-left: 1px solid rgba($color: $first, $alpha: 0.2);
    border-right: 1px solid rgba($color: $first, $alpha: 0.2);
  }
}

.opaque {
  opacity: 0.4;
}
