@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.todo {
  color: var(--dark);
  font-family: $font;

  input:not([type='radio']):not([type='checkbox']),
  button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
  }

  section {
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  h3 {
    padding-top: 0.5rem;
    font-size: 1.4rem;
  }

  h4 {
    color: var(--grey);
    font-size: 1.2rem;
    font-weight: 700;
  }

  .create-todo {
    min-width: 28rem;
    background-color: var(--light);
    border-radius: 0.5rem;
    input[type='text'] {
      display: block;
      width: 100%;
      font-size: 1.2rem;
      padding: 1rem 1.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      background-color: $third;
      border-radius: 0.5rem;
      box-shadow: var(--shadow);
    }

    #content {
      min-width: 25rem;
      height: 3.7rem;
    }

    .options {
      display: flex;

      label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 7rem;
        padding: 0.5rem;
        margin-left: 1rem;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: var(--shadow);
        cursor: pointer;
      }
    }
  }

  .input-columns {
    display: flex;
  }

  .input-category {
    h4 {
      text-align: center;
      margin-top: -0.3rem;
      margin-bottom: 0.3rem;
      padding-left: 1rem;
    }
  }

  input[type='radio'],
  input[type='checkbox'] {
    display: none;
  }

  .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--projects);
    box-shadow: var(--projects-glow);
  }

  .personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
  }
}
