$first: #333f50;
$second: #515a65;
$third: #ffffff;
$fourth: #e43666;
$fifth: #0094c8;
$sixth: #8600ac;
$seventh: #00b331;
$eighth: #ffaa00;
$nineth: #ff3500;
$tenth: #000000;

:root {
  --color-red: #ff3500;
  --color-blue: #0094c8;
  --color-green: #00b331;
  --color-orange: #ffaa00;
  --color-purple: #8600ac;
}
