@media (min-width: 576px) {
  .upper-beam__empty {
    min-width: 2rem;
  }

  .start {
    background-size: 100rem;
    &__logo {
      margin-top: 25rem;
    }
  }

  .event-modal__button {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
  }
}
