@media (min-width: 576px) {
  .upper-beam__admin {
    max-width: 14rem;
  }

  .upper-beam__admin-menu {
    display: none;
  }

  .upper-beam__admin-icons {
    display: block;
  }

  .upper-beam__settings {
    display: none;
  }
}

@media (max-width: 576px) {
  .input-columns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
