@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.upper-beam,
.lower-beam {
  position: relative;
  height: 4.5rem;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

.upper-beam {
  width: 100vw;
  background-color: $first;
  z-index: 5;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11.5rem;
  }

  &__weather,
  &__search,
  &__admin {
    flex: 1;
    margin: 0.5rem;
    height: 3.5rem;
  }

  &__search-input {
    display: block;
    width: 100%;
    height: 3.5rem;
    border-radius: 1rem;
    border: none;
    background-image: url('../../img/base/globalnav_search_image__grey.svg');
    background-position: 1.5rem 1.4rem;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-color: $second;
    font-family: $font;
    font-size: 1.7rem;
    font-weight: 300;
  }

  &__search-input::placeholder {
    color: $third;
    opacity: 0.3;
  }
}

.lower-beam {
  width: 100vw;
  background-color: $second;
  z-index: 0;
  transition: transform 0.5s;
}

.beam-hidden {
  transform: translateY(-7rem);
}

.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: -4.5rem;
  height: calc(100vh + 4.5rem);
  width: 4.5rem;
  background-color: $first;
  box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.75);

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    cursor: pointer;
    transition: transform 0.3s;
  }

  &__container {
    width: 4.5rem;
    padding-top: 15rem;
  }

  &__icon {
    &:hover {
      i {
        transform: scale(1.1);
      }
    }
  }
}

.logo {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  cursor: pointer;
  z-index: 5;

  &:hover {
    .logo__box {
      transform: scale(1.05);
    }
  }

  &__circle {
    position: relative;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: $first;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  }

  &__box {
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
    width: 8.5rem;
    height: 8.5rem;
    transition: transform 0.3s;
  }
}

.comunicator {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .talks {
    position: relative;
    bottom: -3.5rem;
    right: -3.5rem;
    width: 17rem;
    height: 17rem;
    background: linear-gradient(
      135deg,
      rgba(179, 179, 179, 0.9) 0%,
      rgba(51, 63, 80, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    border: 1px solid $second;
    border-radius: 50%;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.5s;

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.7rem;
      font-size: 1.7rem;
      transition: transform 0.3s;
    }

    &__mail,
    &__chat,
    &__phone,
    &__video {
      position: absolute;
      width: 3.2rem;
      height: 3.2rem;
      cursor: pointer;

      &:hover {
        i {
          transform: scale(1.1);
        }
      }
    }

    &__mail {
      right: 4.3rem;
      top: 0.7rem;
    }

    &__chat {
      right: 9.5rem;
      top: 0.9rem;
    }

    &__phone {
      right: 12.9rem;
      top: 4.5rem;
    }

    &__video {
      right: 12.7rem;
      top: 9.5rem;
    }
  }

  .talks-hidden {
    transform: scale(0);
  }

  .envelope {
    position: absolute;
    bottom: -0.5rem;
    left: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    background: linear-gradient(
      135deg,
      rgba(179, 179, 179, 1) 0%,
      rgba(51, 63, 80, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    border: 1px solid $first;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    &::before {
      content: '';
      position: absolute;
      height: 3.4rem;
      width: 3.4rem;
      bottom: 0;
      right: 0;
      border-top: 3.4rem solid transparent;
      border-left: 3.4rem solid transparent;
      border-bottom: 3.4rem solid #11171c;
    }

    &__inside {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6rem;
      width: 6rem;
      background-color: $fourth;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        .fa-envelope {
          transform: scale(1.1);
        }
      }
    }

    .fa-envelope {
      transition: transform 0.3s;
      font-size: 3.2rem;
    }
  }
}

.build {
  display: none;
}

main {
  left: 4.5rem;
  width: 100vw;
  height: calc(100vh - 9rem);
  background-color: $third;
  z-index: -5;
}
