@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.logo {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;

  &__circle {
    position: relative;
    top: 0rem;
    left: 0rem;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: $first;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  }
  &__box {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 8rem;
    height: 8rem;
  }
}

.upper-beam {
  width: 100vw;
  height: 4.5rem;
  background-color: $first;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.lower-beam {
  position: relative;
  left: 4.5rem;
  width: calc(100vw - 4.5rem);
  height: 4.5rem;
  background-color: $second;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.nav {
  position: relative;
  top: -4.5rem;
  height: calc(100vh - 4.5rem);
  width: 4.5rem;
  background-color: $first;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}
