@use '../variables/colors' as *;
@use '../variables/fonts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // outline: 1px solid lime;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font;
  color: $third;
}

input {
  border: none;
}
